.fork-me-link {
  display: block;
  position: absolute;
  top: 0;
  right: -95px;
  outline: none;
  -webkit-transition-property: right;
  -webkit-transition-duration: 1s;
  -moz-transition-property: right;
  -moz-transition-duration: 1s;
  -ms-transition-property: right;
  -ms-transition-duration: 1s;
  -o-transition-property: right;
  -o-transition-duration: 1s;
}
.fork-me-link:hover{
  right: 0;
}